* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }

  .nav-list {
      text-align: center;
      padding: 15px 20px;
      border-bottom: 1px solid #111;
      border-top: 1px solid #111;

  }
  .list-item {
      display: inline-block;
      list-style: none;
      margin: 0 20px;
  }

  .main {
      width: 800px;
      margin: 50px 0;
      display: flex;
      flex-wrap: wrap;
  }
  .content1 {
      width: 200px;
      height: 200px;
      background-color: #e6ffe9;
  }

  .content2 {
    width: 200px;
    height: 200px;
    background-color: #cbffd3;
}
.content3 {
    width: 200px;
    height: 200px;
    background-color: #aeffbd;
}
.content4 {
    width: 200px;
    height: 200px;
    background-color: #93ffab;
}
.content5 {
    width: 200px;
    height: 200px;
    background-color: #f3ffab;
}
.content6 {
    width: 200px;
    height: 200px;
    background-color: #edffbe;
}
.content7 {
    width: 200px;
    height: 200px;
    background-color: #e9ffa5;
}
.content8 {
    width: 200px;
    height: 200px;
    background-color: #e4ff8b;
}
.content9{
    width: 200px;
    height: 200px;
    background-color: #d9e5ff;
}
.content10 {
    width: 200px;
    height: 200px;
    background-color: #bad3ff;
}
.content11 {
    width: 200px;
    height: 200px;
    background-color: #a4c6ff;
}
.content12 {
    width: 200px;
    height: 200px;
    background-color: #8eb8ff;
}

footer {
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #8f8c8c;
  }
  
  .footer-text {
    color: #fff;
  }
  