* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main {
    margin: 50px auto;
    width: 960px;
}

  .item {
      list-style: none;
      padding: 20px;

  }

  .item:nth-child(odd) {
      background-color: rgb(116, 114, 114);
  }

  .box-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
  }

.box {
    height: 200px;
    width: 30%;
    background-color: yellow;
    margin-right: 5%;
    margin-bottom: 40px;
}
.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}
.box:nth-child(3n) {
    margin-right: 0;
  }
  
  .box:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

